#about {
  height: 80vh;
  .about {
    display: flex;
    justify-content: space-between;
    .img_container {
      height: 600px;
      img {
        margin: 50px auto;
        display: block;
        height: 100%;
        width: 456px;
        border-radius: 10px;
      }
    }
    .desc_container {
      margin: 50px auto;
      align-self: center;
      .desc {
        margin-right: 40px;
        .skills {
          color: #00ffbb;
        }
        h3 {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          color: #00ffbb;
        }
        h1 {
          font-size: 24px;
          font-weight: bold;
          line-height: 29px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
        .btn {
          background-color: #00ffbb;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  #about {
    height: auto;
    .about {
      justify-content: center;
      align-items: center;
      .img_container {
        height: 400px;
        img {
          width: 300px;
          height: 350px;
        }
      }
      .desc_container {
        margin: 0;
        text-align: center;
      }
    }
  }
}
