.footer {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-logo {
    font-size: 24px;
  }
  .copyright {
    margin: auto 0;
    p {
      font-size: 14px;
    }
  }
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: #fff;
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 920px) {
  .footer {
    flex-direction: column;
    height: auto;
  }
}
